header{
    font-family: monospace;
    background-color: #2beaffcd;
    font-size: 25px;
}
div{
    display: flex;
    justify-content: space-around;
    background-color: #383838;
    padding: 10px;
    border-radius: 15px;
}
input{
    font-family: monospace;
    background-color: black;
    border: solid 2px #2beaffcd;
    border-radius: 10px;
    padding: 5px;
}
button{
    font-family: monospace;
    color: #2beaffcd;
    padding: 5px;
    background-color: black;
    border: solid 2px #2beaffcd;
    border-radius: 10px;
}
b{
    font-family: monospace;
    color: #2beaffcd;
    font-size: 15px;
    margin: 3px;
    border-radius: 10px;
}